body{margin:0;}

.container-fluid{
  height: 100vh;
  padding: 0;
  
}

.header {

  background-color: pink;
 
}
.menu{
  background-color: violet;
  height: 150px;
  
}
.content{
 background-color: red;
 height: 150px;
}
.footer{
 background-color: blue;
  
} 
